<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <meta name="keywords" content="HTML5 Template" />
   <meta name="description" content="Express - Responsive HTML5 Template">
   <meta name="author" content="expressbootstrap.com">
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon_ae.ico" type="image/x-icon" />
   <link rel="apple-touch-icon" href="{{site.baseurl}}/img/apple-touch-icon.png">

   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Cabin:400,600,700" rel="stylesheet">

   <!-- Vendor CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/tether/tether.min.css" />
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="{{site.baseurl}}/css/fonts/express-icons.css" />
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/bootstrap/css/glyphicon.css" />
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/ion-icons/css/ionicons.min.css" />
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/owl-carousel/owl.theme.css" />
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/owl-carousel/owl.carousel.css" />
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/magnific-popup/magnific-popup.css" />
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/lite-tooltip/css/litetooltip.css" />

   <!-- Theme CSS -->
   <link href="{{site.baseurl}}/css/main.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/main-shortcodes.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/header.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/form-element.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/animation.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/bg-stylish.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/blog.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/streamline-icon.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/utilities.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/font-icons.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/css/skins/default.css" rel="stylesheet" />

   <!-- Current Page CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/rs-plugin/css/settings.css">
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/rs-plugin/css/layers.css">
   <link rel="stylesheet" href="{{site.baseurl}}/vendor/rs-plugin/css/navigation.css">

   <!-- Pricing CSS -->
   <link href="{{site.baseurl}}/vendor/pricing-tables/main.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/vendor/pricing-tables/responsive.css" rel="stylesheet" />
   <link href="{{site.baseurl}}/vendor/pricing-tables/style_9.css" rel="stylesheet" />

   <!-- Theme Custom CSS -->
   <link rel="stylesheet" href="{{site.baseurl}}/css/custom.css">

   <!-- Style Swicher -->
   <!-- <link href="{{site.baseurl}}/vendor/style-switcher/style-switcher.css" rel="stylesheet" />  -->
   <!-- <link href="{{site.baseurl}}/vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />  -->

</head>
<body>

   <div class="wrapper">
      <!--Header-->
      <header id="header" class="header-narrow header-transparent header-full-width header-transparent-bottom-border" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '1'}">
         <div class="header-body">
            <div class="header-container container">
               <div class="header-row">
                  <div class="header-column">
                     <div class="header-row">
                        <div class="header-logo">
                           <a href="{{site.baseurl}}/index">
                              <img alt="Express" width="106" height="69" src="{{site.baseurl}}img/logo.png">
                           </a>
                        </div>
                     </div>
                  </div>

                  <div class="header-column justify-content-end">
                    <div class="header-row">
                       <div class="header-nav header-nav-dark-dropdown header-nav-top-line justify-content-center">
                          <div class="header-nav-main header-nav-main-effect-2 header-nav-main-sub-effect-1">
                             <nav class="collapse">
                                <ul class="nav nav-pills" id="mainNav">
                                   <li class="dropdown">
                                      <a class="dropdown-item dropdown-toggle active" href="{{site.baseurl}}/index">Home </a>

                                   </li>
                                   <li class="dropdown">
                                      <a class="dropdown-item dropdown-toggle active" href="{{site.baseurl}}/more">More </a>
                                   </li>
                                </ul>
                             </nav>
                          </div>
                          <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                             <i class="fa fa-bars"></i>
                          </button>
                       </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!--End Header-->


      {{content}}


      <footer class="footer footer-minimal" id="footer-3">
         <div class="main">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <ul class="list-inline fw-6 mb-0">
                        <li><a href="{{site.baseurl}}/index">Home</a></li>
                        <li><a href="{{site.baseurl}}/more">More</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-6">
                     <div class="clearfix pull-right">
                       <p><i class="fa fa-map-marker"></i>Omaha, Nebraska</p>
                     </div>
                  </div>
               </div>

               <hr />

               <div class="row">
                  <div class="col-sm-6">
                     <ul class="list-inline fs-11">
                        <li><p class="mb-0 fw-6">© 2017-Present</p></li>
                        <li>Maintained by <a href="https://github.com/AErck">Adam Erck</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-6">
                     <div class="clearfix pull-right">
                        <ul class="footer-socials list-inline mb-0">
                           <li><a href="https://www.linkedin.com/in/adam-erck/" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- </div> -->
   <!-- </div> -->

   <!-- Vendor -->
   <script src="{{site.baseurl}}/vendor/jquery/jquery.js"></script>
   <script src="{{site.baseurl}}/vendor/jquery/jquery.nav.js"></script>
   <script src="{{site.baseurl}}/vendor/jquery/jquery.validate.js"></script>
   <script src="{{site.baseurl}}/vendor/jquery.appear/jquery.appear.min.js"></script>
   <script src="{{site.baseurl}}/vendor/jquery.easing/jquery.easing.min.js"></script>
   <script src="{{site.baseurl}}/vendor/jquery-cookie/jquery-cookie.min.js"></script>
   <script src="{{site.baseurl}}/vendor/magnific-popup/jquery.magnific-popup.js"></script>
   <script src="{{site.baseurl}}/vendor/modernizr/modernizr.min.js"></script>
   <script src="{{site.baseurl}}/vendor/tether/tether.min.js"></script>
   <script src="{{site.baseurl}}/vendor/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{site.baseurl}}/vendor/menuzord/menuzord.js"></script>
   <script src="{{site.baseurl}}/vendor/sticky/jquery.sticky.min.js"></script>
   <script src="{{site.baseurl}}/vendor/isotope/jquery.isotope.min.js"></script>
   <script src="{{site.baseurl}}/vendor/respond/respond.js"></script>
   <script src="{{site.baseurl}}/vendor/images-loaded/imagesloaded.js"></script>
   <script src="{{site.baseurl}}/vendor/owl-carousel/owl.carousel.js"></script>
   <script src="{{site.baseurl}}/vendor/wow/wow.min.js"></script>
   <script src="{{site.baseurl}}/vendor/lite-tooltip/js/litetooltip.js"></script>
   <script src="{{site.baseurl}}/js/theme-plugins.js"></script>
   <script src="{{site.baseurl}}/js/portfolio.js"></script>

   <script src="{{site.baseurl}}/vendor/dzsparallaxer/dzsparallaxer.js"></script>
   <script src="{{site.baseurl}}/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
   <script src="{{site.baseurl}}/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>

   <!-- Current Page Vendor and Views -->
   <script src="{{site.baseurl}}/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
   <script src="{{site.baseurl}}/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

   <!-- Theme Initialization -->
   <script src="{{site.baseurl}}/js/theme.js"></script>

   <!-- Custom JS -->
   <script src="{{site.baseurl}}/js/custom.js"></script>

   <!-- Style Swicher -->
   <!-- <script src="vendor/style-switcher/style.switcher.js" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script> -->
   <!-- <script src="vendor/style-switcher/style.switcher.localstorage.js"></script> -->

   <!-- Master Slider JS -->
   <script src="sliders/master-slider/classic-sliders/masterslider/masterslider.min.js"></script>
   <script type="text/javascript">

      var slider = new MasterSlider();
      slider.setup('masterslider', {
         width: 1150,
         height: 500,
         space: 10,
         preload: 3,
         view: 'basic'
      });
      slider.control('arrows');

      var gallery = new MSGallery('ms-gallery-1', slider);
      gallery.setup();

   </script>

</body>
</html>
